<h2>Prestation</h2>
<%= @prestations.each do |prestation| %>
<p>__________________________________________________________</p>
<p>prestation numero :<%= prestation.id %></p>

<p>name :<%= prestation.reference %></p>
<p>duration :<%= prestation.duration %></p>



<% end %>
