<% @pros.each do |pro| %>
<p>Pro name<%= pro.name %></p>
<p>id <%= pro.id %></p>

<% pro.pro_prestations.each do |x| %>
<p>presta id <%= x.prestation_id %></p>
<p>pro id <%= x.pro_id %></p>

<%end %>
<%end %>
